html{
    scroll-behavior: smooth;
}
#hero{
    border: none!important;
}
.my-img{
    width: 35%!important;
}

@media screen and (max-width: 767px){
    .my-img{
        width: 90%!important;
    }
}
@media screen and (max-width: 575px){
    .my-img{
        width: 100%!important;
    }
}
