.my-img{
    width: 35%!important;
}

@media screen and (max-width: 767px){
    .my-img{
        width: 45%!important;
    }
}
@media screen and (max-width: 575px){
    .my-img{
        width: 52%!important;
    }
}
